files/default/allfeeds.wadl



    <?xml version="1.0" encoding="UTF-8"?>
    <application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:rax="http://docs.rackspace.com/api"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <doc title="Feeds Catalog"/>
    <grammars>
    <include href="core_xsd/entry.xsd"/>
    <include href="core_xsd/feedsapi.xsd"/>
    </grammars>
    <resources base="http://localhost">
     
    <!-- Static paths for administration -->
    <resource id="buildinfo" path="buildinfo"><method name="GET"/></resource>
     
    <!-- Resources exposed to service-admin (GET and POST) -->
    <!-- identity:admin is added to preserve backwards compat with internal nodes
    Remove it after B-72471 is done
    -->
    <resource id="service-admin" path="/" rax:roles="cloudfeeds:service-admin identity:admin">
    <!-- product events -->
    <resource id="automation_events"
    path="automation/events"
    type="wadl/feed.wadl#AtomFeedAllowJson wadl/feed.wadl#Validated"/>
    <resource id="autoscale_events"
    path="autoscale/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
    <resource id="backup_events"
    path="backup/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBackup"/>
    <resource id="bigdata_events"
    path="bigdata/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigData"/>
    <resource id="cbs_events"
    path="cbs/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBlockStorage"/>
    <resource id="core_events"
    path="core/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="customer_events"
    path="customer/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="dbaas_events"
    path="dbaas/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDatabase"/>
    <resource id="dedicatedvcloud_events"
    path="dedicatedvcloud/events"
    type="wadl/feed.wadl#AtomFeedAllowJson wadl/product.wadl#DedicatedVCloud"/>
    <resource id="dns_events"
    path="dns/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDNS"/>
    <resource id="domain_events"
    path="domain/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#DomainRegistration"/>
    <resource id="ebs_events"
    path="ebs/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#EBS"/>
    <resource id="emailapps_usage_events"
    path="emailapps_usage/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#EmailAppsUsage" />
    <resource id="emailapps_msservice_events"
    path="emailapps_msservice/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#EmailAppsMSService" />
    <resource id="encore_events"
    path="encore/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="files_events"
    path="files/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudFiles"/>
    <resource id="glance_events"
    path="glance/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Glance"/>
    <resource id="identity_events"
    path="identity/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudIdentity"/>
    <resource id="lbaas_events"
    path="lbaas/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudLoadBalancers"/>
    <resource id="meta_events"
    path="meta/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#AtomHopper"/>
    <resource id="monitoring_events"
    path="monitoring/events"
    type="wadl/feed.wadl#AtomFeedAllowJson wadl/product.wadl#CloudMonitoring"/>
    <resource id="netdevice_events"
    path="netdevice/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#NetDevice"/>
    <resource id="nova_events"
    path="nova/events"
    type="wadl/feed.wadl#AtomFeedAllowJson wadl/product.wadl#CloudServersOpenStack wadl/product.wadl#RHEL"/>
    <resource id="payment_events"
    path="payment/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#PaymentService"/>
    <resource id="queues_events"
    path="queues/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudQueues"/>
    <resource id="servers_events"
    path="servers/events"
    type="wadl/feed.wadl#AtomFeedAllowJson wadl/product.wadl#CloudServers wadl/product.wadl#RHEL"/>
    <resource id="sites_events"
    path="sites/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudSites"/>
    <resource id="signup_events"
    path="signup/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="ssl_events"
    path="ssl/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Ssl"/>
    <resource id="support_events"
    path="support/events"
    type="wadl/feed.wadl#AtomFeedAllowJson wadl/product.wadl#Support"/>
    <resource id="usagecorrelation_events"
    path="usagecorrelation/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="usagedeadletter_events"
    path="usagedeadletter/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#UsageDeadLetter"/>
    <!-- usagerecovery is validated as BigData & CloudLoadBalancers have synthesized attributes -->
    <resource id="usagerecovery_events"
    path="usagerecovery/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
    <resource id="usagesummaryrecovery_events"
    path="usagesummaryrecovery/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
    <!-- Feeds Catalog -->
    <resource id="feedscatalog"
    path="feedscatalog/catalog"
    type="wadl/feed.wadl#FeedsCatalog"/>
    <!-- Test related feeds -->
    <resource id="demo_events"
    path="demo/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
    <resource id="experiments_events"
    path="experiments/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="functest1_events"
    path="functest1/events"
    type="wadl/feed.wadl#AtomFeed
    wadl/product.wadl#AtomHopper
    wadl/product.wadl#BigData wadl/product.wadl#BigDataSummary
    wadl/product.wadl#CloudBackup wadl/product.wadl#CloudBackupSummary
    wadl/product.wadl#CloudBlockStorage wadl/product.wadl#CloudBlockStorageSummary
    wadl/product.wadl#CloudDatabase wadl/product.wadl#CloudDatabaseSummary
    wadl/product.wadl#CloudDNS
    wadl/product.wadl#CloudFiles wadl/product.wadl#CloudFilesSummary
    wadl/product.wadl#CloudIdentity
    wadl/product.wadl#CloudLoadBalancers wadl/product.wadl#CloudLoadBalancersSummary
    wadl/product.wadl#CloudMonitoring wadl/product.wadl#CloudMonitoringSummary
    wadl/product.wadl#CloudQueues wadl/product.wadl#CloudQueuesSummary
    wadl/product.wadl#CloudServers wadl/product.wadl#CloudServersSummary
    wadl/product.wadl#CloudServersOpenStack wadl/product.wadl#CloudServersOpenStackSummary
    wadl/product.wadl#CloudSites wadl/product.wadl#CloudSitesSummary
    wadl/product.wadl#DedicatedVCloud wadl/product.wadl#DedicatedVCloudSummary
    wadl/product.wadl#DomainRegistration
    wadl/product.wadl#EBS wadl/product.wadl#EmailAppsMSService
    wadl/product.wadl#EmailAppsUsage
    wadl/product.wadl#Glance wadl/product.wadl#GlanceSummary
    wadl/product.wadl#NetDevice
    wadl/product.wadl#PaymentService
    wadl/product.wadl#RHEL wadl/product.wadl#Ssl wadl/product.wadl#Support wadl/feed.wadl#UsageDeadLetter
    wadl/product.wadl#Widget wadl/product.wadl#WidgetSummary"/>
    <resource id="functest2_events"
    path="functest2/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="migrationtest_events"
    path="migrationtest/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="nooverridestest_events"
    path="nooverridestest/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="overridestest_events"
    path="overridestest/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="perftest1_events"
    path="perftest1/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="perftest2_events"
    path="perftest2/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="usagetest1_events"
    path="usagetest1/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="usagetest2_events"
    path="usagetest2/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="usagetest3_events"
    path="usagetest3/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="usagetest4_events"
    path="usagetest4/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="usagetest5_events"
    path="usagetest5/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <resource id="usagetest6_events"
    path="usagetest6/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Widget"/>
    <resource id="usagetest7_events"
    path="usagetest7/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
    <resource id="usagetest8_events"
    path="usagetest8/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
    <resource id="usagetest9_events"
    path="usagetest9/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigData wadl/product.wadl#CloudLoadBalancers wadl/feed.wadl#Validated"/>
    <resource id="usagetest10_events"
    path="usagetest10/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigData wadl/product.wadl#CloudLoadBalancers wadl/feed.wadl#Validated"/>
    <resource id="usagetest11_events"
    path="usagetest11/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigData wadl/product.wadl#CloudLoadBalancers wadl/feed.wadl#Validated"/>
    <resource id="usagetest12_events"
    path="usagetest12/events"
    type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
    <!-- end of Test related feeds -->
    <!-- Summary Feeds -->
    <resource path="/usagesummary/">
    <resource id="backup_usagesummary_events"
    path="backup/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBackupSummary"/>
    <resource id="bigdata_usagesummary_events"
    path="bigdata/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigDataSummary"/>
    <resource id="cbs_usagesummary_events"
    path="cbs/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBlockStorageSummary"/>
    <resource id="dbaas_usagesummary_events"
    path="dbaas/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDatabaseSummary"/>
    <resource id="dedicatedvcloud_sum_events"
    path="dedicatedvcloud/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#DedicatedVCloudSummary"/>
    <resource id="files_usagesummary_events"
    path="files/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudFilesSummary"/>
    <resource id="glance_usagesummary_events"
    path="glance/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#GlanceSummary"/>
    <resource id="lbaas_usagesummary_events"
    path="lbaas/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudLoadBalancersSummary"/>
    <resource id="monitoring_usagesummary_events"
    path="monitoring/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudMonitoringSummary"/>
    <resource id="nova_usagesummary_events"
    path="nova/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudServersOpenStackSummary wadl/product.wadl#RHELSummary"/>
    <resource id="queues_usagesummary_events"
    path="queues/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudQueuesSummary"/>
    <resource id="servers_usagesummary_events"
    path="servers/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudServersSummary wadl/product.wadl#RHELSummary"/>
    <resource id="sites_usagesummary_events"
    path="sites/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudSitesSummary"/>
    <resource id="ssl_usagesummary_events_obs"
    path="ssl/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Ssl"/>
    <resource id="usagetest6_usagesummary_events"
    path="usagetest6/events"
    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#WidgetSummary"/>
    </resource>
    </resource>
    </resources>
    </application>


