files/default/default.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rax="http://docs.rackspace.com/api" >
  <resources base="http://localhost">

    <resource path="/resource1">
      <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="id"/>
      <method name="PUT" id="putContainer">
        <response>
          <representation mediaType="application/xml"/>
        </response>
      </method>
      <method name="DELETE" id="deleteContainer"/>
      <method name="GET" id="getContainer">
        <request>
          <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="search"/>
        </request>
        <response>
          <representation mediaType="application/xml"/>
        </response>
      </method>
    </resource>

    <resource path="/resource2">
      <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="item"/>
      <method name="PUT" id="putItem">
        <request>
          <representation mediaType="*/*"/>
        </request>
        <response>
          <representation mediaType="*/*"/>
        </response>
      </method>
      <method name="POST" id="postItem">
        <request>
          <representation mediaType="application/xml"/>
        </request>
        <response>
          <representation mediaType="*/*"/>
        </response>
      </method>
      <method name="DELETE" id="deleteItem"/>
      <method name="GET" id="getItem">
        <response>
          <representation mediaType="*/*"/>
        </response>
      </method>
    </resource>
  </resources>
</application>
